<!--
  Generated template for the GenerateQrCodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-input [(ngModel)]="textCode" type="text" placeholder="Enter your sentence"></ion-input>
            <button [disabled]="!textCode" ion-button block (click)="generateQrCode();">GENERATE QRCODE</button>
            <img *ngIf="generated" [src]="qrCode"/>
            <button *ngIf="generated" ion-button  block (click)="shareCode()">PARTAGER</button>
        </ion-card-content>
    </ion-card>
</ion-content>
