<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <button ion-button block (tap)="scanFromCamera()">CAMERA</button>
      <button ion-button block (tap)="scanPicture()">PICTURE</button>
</ion-content>
